<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    <!-- vendor css -->
    <link href="../../Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../Scripts/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../../Scripts/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../../Scripts/lib/highlightjs/github.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/katniss.css">
</head>

<body>
    <div class="kt-sideleft-header">
        <div class="kt-logo"></div>
        <div id="ktDate" class="kt-date-today"></div>
    </div>

    <!-- ##### SIDEBAR MENU ##### -->
    <div class="kt-sideleft">
        <label class="kt-sidebar-label">Навигация</label>
        <ul class="nav kt-sideleft-menu">
            <li class="nav-item">
                <a href="../News/Index" class="nav-link">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Главная страница</span>
                </a>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-ios-bookmarks-outline"></i>
                    <span>Стандарты</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item"><a href="../Standarts/Index" class="nav-link">Список стандартов</a></li>
                    <li class="nav-item"><a href="../Standarts/Create" class="nav-link">Добавить стандарт</a></li>
                </ul>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>Заявки</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item"><a href="../Applications/Details" class="nav-link">Просмотреть мои заявки</a></li>
                    <li class="nav-item"><a href="../Applications/Create" class="nav-link">Подать заявку</a></li>
                    <li class="nav-item"><a href="../Applications/Index" class="nav-link">Просмотреть заявки пользователей</a></li>
                </ul>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="../Sertificates/Index" class="nav-link">
                    <i class="icon ion-ios-list-outline"></i>
                    <span>Сертификаты</span>
                </a>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="../Sertificates/Reports" class="nav-link">
                    <i class="icon ion-ios-analytics-outline"></i>
                    <span>Отчеты</span>
                </a>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-ios-briefcase-outline"></i>
                    <span>Подразделения</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item"><a href="../Subdivisions/Index" class="nav-link">Список подразделений</a></li>
                    <li class="nav-item"><a href="../Subdivisions/Create" class="nav-link">Добавить подразделение</a></li>
                </ul>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-ios-person-outline"></i>
                    <span>Пользователи</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item"><a href="../Users/Index" class="nav-link">Список пользователей</a></li>
                    <li class="nav-item"><a href="../Users/Create" class="nav-link">Добавить пользователя</a></li>
                </ul>
            </li><!-- nav-item -->
        </ul>
    </div>

    <!-- ##### HEAD PANEL ##### -->
    <div class="kt-headpanel">
        <a href="../News/Index" style="font-size: 24px">Система сопровождения внутреннего аудита</a>
        <div class="kt-headpanel-right">@Html.Partial("_LoginPartial")</div>
    </div>

    @RenderSection("scripts", required: false)
    @RenderBody()

    <script src="../../Scripts/lib/jquery/jquery.js"></script>
    <script src="../../Scripts/lib/popper.js/popper.js"></script>
    <script src="../../Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="../../Scripts/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../../Scripts/lib/moment/moment.js"></script>
    <script src="../../Scripts/lib/highlightjs/highlight.pack.js"></script>
    <script src="../../Scripts/js/katniss.js"></script>
</body>
</html>

